body {
  background-color: white;
}

.main-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  background-color: pink;
  width: 650px;
  height: 650px;
  margin: auto;
}

.box-text {
  text-align: center;
  margin: auto;
  padding: auto;
  justify-content: center;
  border: solid 1px rgb(88, 88, 88);
  height: auto;
  height: 65px;
  width: 65px;
  background-color: rgb(var(--i), var(--j), var(--k));
}

.hellodd::-webkit-scrollbar {
  color: black;
  width: 10px;
  height: 10px;
  background-color: greenyellow;
}

.bgblr {

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(96px) saturate(180%);
  filter: blur(200px)
}

.text-box {
  padding: auto auto;
  font-size: 1.5rem;
  transition: 400ms;
  padding-top: 10px;
}

.box-text:hover {
  box-shadow: 1px 1px 10px 1px black;
  transition: 400ms;
  z-index: 10;
  transform: scale(1.01);
}

.hidden {
  display: none;
}

.dicecss {
  color: red;
  background: linear-gradient(45deg, rgb(253, 86, 86), rgb(215, 32, 32));
  border-radius: 30px;
}

.dicecss2 {
  transform: scale(1.1);
  transition: ease-in-out;
  transform: rotateZ(360deg);
  animation: dicea 2s;
}

@keyframes dicea {
  0% {
    transform: rotateZ(0deg);
    color: red;
  }

  50% {
    color: blue
  }

  100% {
    transform: rotateZ(3600deg);

    color: red;
  }
}

.transitionp {
  transition: 400ms;
}

.castbox {
  position: absolute;
}

@media screen and (max-width: 1064px) {
  .home11 {
    margin-left: 30%;
  }
}

@media screen and (max-width: 1006px) {

  .lfb11 {
    max-width: 25%;
  }

  .bigd {
    margin-top: -74%;
  }

  .imghb {
    margin-left: -5px;
    max-height: 554px;
    max-width: 560px;
    opacity: 100%;
  }

  .box-text {
    text-align: center;
    margin: auto;
    padding: auto;
    justify-content: center;
    border: solid 1px rgb(88, 88, 88);
    height: auto;
    height: 55px;
    width: 55px;
    background-color: rgb(var(--i), var(--j), var(--k));
  }

  .main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: pink;
    width: 550px;
    height: 550px;
    margin: auto;
  }
}

@media screen and (max-width: 876px) {

  .lfnb {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .lfb11 {
    max-width: 20%;
  }

  .hellodice {
    font-size: 150px;
  }

  .lfb11 {
    text-align: center;
  }

  .lsbform {
    max-width: 100%;
  }

  .lsbform1 {
    max-width: 80%;
  }

  .lsbform12 {
    max-width: 20%;
    width: 20%;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 2px;
  }

  .bigd {
    margin-top: -88%;
  }

  .lsbstg {
    font-size: 20px;
  }

  .rsbmin {
    float: left;
    left: 0;
    position: absolute;
    z-index: 1000000;
    margin-left: 10px;
    height: 25px;
  }

  .lsbmc {
    margin-top: 30px;
  }

  .rsbmc2 {
    float: left;
    left: 0;
    transition: 500ms;
  }

}

@media screen and (max-width: 755px) {
  .imghb {
    margin-left: -5px;
    max-height: 462px;
    max-width: 469px;
    opacity: 100%;
  }

  .hellodice {
    font-size: 130px;
  }

  .bigd {
    font-size: 90px;
    margin-top: -94%;
  }

  .box-text {
    text-align: center;
    margin: auto;
    padding: auto;
    justify-content: center;
    border: solid 1px rgb(88, 88, 88);
    height: auto;
    height: 46px;
    width: 46px;
    background-color: rgb(var(--i), var(--j), var(--k));
  }

  .main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: pink;
    width: 460px;
    height: 460px;
    margin: auto;
  }

  .lfb11 {
    height: 104%;

  }

  .homebox {
    margin-left: -20%;
    height: 100%;
  }

  .lsbstg {
    font-size: 17px;
    font-weight: 600;
    border-radius: 13px;
  }

  .text-box {
    font-size: 19px;
  }
}

@media screen and (max-width: 755px) {
  .lsbstg {
    font-size: 23px;
  }
}

@media screen and (min-width: 655px) {
  .jkkjb {
    display: none;
  }
}

@media screen and (max-width: 655px) {
  .ghughggv {
    display: none;
  }

  .homebox {
    margin: auto;
    padding: auto;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
  }

  .hellodice {
    margin-top: -450px;
    padding-top: 0px;
    position: absolute;

  }

  .bigd {
    margin-top: -32%;
    margin-bottom: 0px;
  }

  .mlogo {
    position: absolute;
    bottom: 0px;
    height: 20%;
    max-height: 20%;
    float: right;
    z-index: 90999999999;
    bottom: 7%;
  }

  .btncsm {
    display: none;
  }

  .ffsmall {
    display: flex;
    justify-content: space-around;
  }

  body {
    background-color: rgb(62, 0, 0);

  }

  .jjbjhb {
    position: absolute;
    float: right;
    right: 39px;
    top: 50px;
  }

  .rsbmin {
    color: white;
  }

  .lfb11 {
    position: absolute;
    width: 100%;
    max-width: 100%;
    float: right;
    bottom: 0;
    top: 70%;
    height: 30%;
    z-index: 9879878789;
    background: linear-gradient(180deg, rgba(203, 213, 225, 0.7), silver, rgb(202, 202, 202));
  }

  .small-side {
    width: 180%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;

  }

  .lsbform1 {
    margin: auto;
    width: 80%;
  }

  .lsbform {
    gap: 0px
  }

  .lsbform12 {
    margin-right: 10px;
    ;
    padding-right: 0%;
    width: 20px;
    margin-left: 0;
    gap: 0;
  }

  .hid-small {
    display: none;
  }

  .text-lsb {
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;

  }

  .lfnb {
    display: none;
  }

  .lsbfrm {
    display: flex;
  }

  .lfnb {
    display: flex;
  }

  .mlogo {
    display: flex;
    flex-direction: column;
    float: right;
    right: 0px;
    margin-right: 10px;
    padding-right: 0px;
    max-width: 20px;
    height: 270px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 535px) {

  .homebox {
    margin-top: 20px;
    margin-left: 0;
    display: flex;
    padding: auto;
    margin: 27px auto;
    margin-left: 10px;
    justify-content: center;
    position: absolute;
    justify-items: center;
    width: 100%;
  }

  .home11 {
    position: relative;
    margin-left: 0%;
  }
}

@media screen and (min-width: 656px) {
  .small-side {
    display: none;
  }
}

@media screen and (max-width: 656px) {
  .small-side2 {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .imghb {
    width: 410px;
    height: 400px;
    box-shadow: 0px 0px 17px 7px rgb(212, 212, 212);
  }

  .box-text {
    height: 40px;
    width: 40px;
  }

  .main-grid {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 432px) {
  .imghb {
    width: 410px;
    height: 400px;
    box-shadow: 0px 0px 17px 7px rgb(212, 212, 212);
  }

  .box-text {
    height: 40px;
    width: 40px;
  }

  .main-grid {
    height: 400px;
    width: 400px;
  }

  .imghb {
    height: 55%;
    width: 102%;

  }

  .homebox {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    width: 100%;
  }

  .mlogo {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    max-width: 100%;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    left: auto;
    right: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-height: 50px;
    font-size: 80px;
  }

  .homebox {
    left: 0;
    margin-left: 0px;
  }

  .kknkl {
    font-size: 30px;
  }
}

@media screen and (min-width: 767px) {
  .kjbji {
    display: none;
  }
}

@media screen and (max-width: 432px) {
  .homebox {
    width: 350px;
    height: 350px;
    justify-content: center;
    margin: auto;
    padding: auto;
    display: flex;
    justify-items: center;
    margin-left: 10px;
    margin-top: 20px;
  }

  .main-grid {
    height: 350px;
    width: 350px;
  }

  .imghb {
    height: 400px;
    width: 410px;
  }
}


@media screen and (max-width: 410px) {
  .homebox {
    width: 90%;
    height: 60%;
    justify-content: center;
    margin: auto;
    padding: auto;
    display: flex;
    justify-items: center;
    margin-left: 20px;
    margin-top: 35px;
  }

  .main-grid {
    height: 90%;
    width: 50%;
    margin: auto;
    justify-content: left;
    margin-left: 0;
  }

  .imghb {
    height: 94%;
    width: 101.9%;
  }

  .lsbstg {
    padding: 0px;
    margin: 0;
    width: 150px;
    height: 40px;
    transition: 400ms;
  }

  .lsbstg:hover {
    box-shadow: 0px 0px 10px 3px rgb(88, 88, 88);
    transition: 400ms;
  }

  .mlogo {
    margin-bottom: 0px;
    bottom: 0px;
  }

  .kdfnsv {
    font-size: 15px;
    font-weight: 600px;
    padding: 0px;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 390px) {
  .homebox {
    width: 340px;
    height: 340px;
    justify-content: center;
    margin: auto;
    padding: auto;
    display: flex;
    justify-items: center;
    margin-left: 20px;
    margin-top: 35px;
    position: absolute;
  }

  .main-grid {
    height: 340px;
    width: 340px;
    margin: auto;
    justify-content: left;
    margin-left: 0px;
    padding-left: 0px;
    gap: 0px;
  }

  .box-text {
    width: 34px;
    height: 34px;
  }

  .imghb {
    height: 340px;
    width: 348px;
  }

  .lsbstg {
    padding: 0px;
    margin: 0;
    width: 150px;
    height: 40px;
    transition: 400ms;
  }

  .lsbstg:hover {
    box-shadow: 0px 0px 10px 3px rgb(88, 88, 88);
    transition: 400ms;
  }
}


@media screen and (max-width: 350px) {
  .homebox {
    width: 300px;
    height: 300px;
    justify-content: center;
    margin: auto;
    padding: auto;
    display: flex;
    justify-items: center;
    margin-left: 20px;
    margin-top: 35px;
    position: absolute;
  }

  .main-grid {
    height: 300px;
    width: 300px;
    margin: auto;
    justify-content: left;
    margin-left: 0px;
    padding-left: 0px;
    gap: 0px;
  }

  .box-text {
    width: 30px;
    height: 30px;
  }

  .imghb {
    height: 300px;
    width: 308px;
  }

  .lsbstg {
    padding: 0px;
    margin: 0;
    width: 150px;
    height: 40px;
    transition: 400ms;
  }

  .lsbstg:hover {
    box-shadow: 0px 0px 10px 3px rgb(88, 88, 88);
    transition: 400ms;
  }
}



@media screen and (max-width: 310px) {
  .homebox {
    width: 270px;
    height: 270px;
    justify-content: center;
    margin: auto;
    padding: auto;
    display: flex;
    justify-items: center;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 0px;
    position: absolute;
  }

  .main-grid {
    height: 270px;
    width: 270px;
    margin: auto;
    justify-content: left;
    margin-left: 0px;
    padding-left: 0px;
    gap: 0px;
  }

  .box-text {
    width: 27px;
    height: 27px;
  }

  .imghb {
    height: 270px;
    width: 278px;
  }

  .lsbstg {
    padding: 0px;
    margin: 0;
    width: 150px;
    height: 40px;
    transition: 400ms;
  }

  .lsbstg:hover {
    box-shadow: 0px 0px 10px 3px rgb(88, 88, 88);
    transition: 400ms;
  }
}